{% extends 'base.html.twig' %}

{% block title %}Team Farrugia : Informations{% endblock %}

{% block body %}

<div class="container my-4">

    <h1 class="text-center mt-4">INFORMATIONS</h1>

    <h2 class="my-4">Horaires d'ouvertures</h2>

    <div class="row horaires">

    
        {% for data in horaire %}
            <div class="col-md-3">
                {{ data.titre }} <br>
                <p>
                    {{ data.jour1 }} <br>
                    {% if data.jour2 == "-" %}
                    {% else %}
                    {{ data.jour2 }} <br>
                    {% endif %}
                    {% if data.jour3 == "-" %}
                    {% else %}
                    {{ data.jour3 }}
                    {% endif %} <br><br>
                    {% if data.entraineur == "" %}
                    {% elseif data.entraineur == "Come Delaborde" %}
                    Entraineur/Stagiaire : {{ data.entraineur }}
                    {% else %}
                    Entraineur : {{ data.entraineur }}
                    {% endif %}
                </p>
            </div>
        {% endfor %}    
        
    </div>

    <div class="row mt-4">
        <div class="stagiaire col-md-12">
            Entraineur / Stagiaire : Phillippe Legrand et Adel Jallad
        </div>
    </div>
    

    <h2 class="my-4">Tarif</h2>

    <div class="tarif">
        
        {% for data in tarif %}
        {{ data.titre }} : {{ data.prix }} € <br>
        {% endfor %}
    </div>

    <h2 class="my-4">Site</h2>

    <!-- <span>Adresse : Palais des Sports Elancourt, Rue de la Beauce, 78990 Élancourt</span> <br> -->
    {% for data in site %}
        <span>{{ data.titre}} : {{ data.adresse }}</span> <br>
    {% endfor %}

    <div class="googlemap text-center m-4">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2629.809537560299!2d1.9440025156786143!3d48.76643341513109!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e6836d91985ad1%3A0x7a3d5e09eae5fcf1!2sPalais%20de%20Sports%20d&#39;%C3%89lancourt!5e0!3m2!1sfr!2sfr!4v1609591685514!5m2!1sfr!2sfr" width="400" height="400" frameborder="0" style="border:1px solid; border-radius: 5px;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>


</div>

{% endblock %}
