{% extends 'base.html.twig' %}

{% block title %}Team Farrugia : Gestion Administrateur{% endblock %}

{% block body %}

    <h1 class="text-center mt-4">Gestions des Utilisateurs </h1>

    <div class="text-center m-4">
        <a href="{{path('admin_accueil')}}" class="btn">Gestions Accueil</a>
        <a href="{{path('admin_medias')}}" class="btn">Gestions Médias</a>
        <a href="{{path('admin_info')}}" class="btn">Gestions Informations</a>
        <a href="{{path('admin_message')}}" class="btn">Messages </a>
        {% if request.requestUri == '/admin/user' %}
            <a href="{{path('admin_user')}}" class="btn bg-danger">Gestions des Utilisateurs</a>
        {% endif %}
    </div>

    <div class="container">

        {% for message in app.flashes('success') %}
            <div class="bg-success text-white text-center col-md-4 mx-auto rounded p-3 mb-3">
                {{ message }}
            </div>
        {% endfor %}

        <table class="table table-bordered mt-4 shadow">

            <tr class="text-center">
                
                <th>{{ tableau[0]|upper }}</th>
                <th>{{ tableau[1]|upper }}</th>
                <th>{{ tableau[2]|upper }}</th>

                <th>EDITER</th>
                <th>SUPPRIMER</th>
            </tr>
            
            {% for data in user %}
                <tr class="text-center">
                
                    <td>{{ data.id }}</td>
                    <td>{{ data.username }}</td>
                    <td>{{ data.email }}</td>
                    <td class="align-middle"><a href="{{ path('admin_user_edit', {'id': data.id }) }}" class="btn btn-success text-white"><i class="fas fa-edit fa-1x"></i></a></td>
                    <td class="align-middle"><a href="" class="btn btn-danger text-white" onclick="return(confirm('Voulez vous vraiment supprimer cet utilisateur ?'))"><i class="fas fa-trash fa-1x"></i></a></td>
                
                
                </tr>
            {% endfor %}

        </table>

        <a href="{{ path('admin_user_create')}}" class="btn btn-dark">Ajouter un Utilisateur</a>
    </div>

{% endblock %}
