{% extends "base.html.twig" %}

{% block body %}

<h1 class="text-center mt-4">Gestions des Informations</h1>

<div class="text-center m-4">
    {% if request.requestUri == '/admin/accueil' or request.requestUri == '/admin' %}
        <a href="{{path('admin_accueil')}}" class="btn bg-danger">Gestions Accueil</a>
    {% else %}
        <a href="{{path('admin_accueil')}}" class="btn">Gestions Accueil</a>
    {% endif %}

    {% if request.requestUri == '/admin/medias' %}
        <a href="{{path('admin_medias')}}" class="btn bg-danger">Gestions Médias</a>
    {% else %}
        <a href="{{path('admin_medias')}}" class="btn">Gestions Médias</a>
    {% endif %}
    
    {% if request.requestUri == '/admin/info' %}
        <a href="{{path('admin_info')}}" class="btn bg-danger">Gestions Informations</a>
    {% else %}
        <a href="{{path('admin_info')}}" class="btn">Gestions Informations</a>
    {% endif %}
    
    {% if request.requestUri == '/admin/message' %}
        <a href="{{path('admin_message')}}" class="btn bg-danger">Messages ({{ message|length }}) </a>
    {% else %}
        <a href="{{path('admin_message')}}" class="btn">Messages ({{ message|length }}) </a>
    {% endif %}

    {% if request.requestUri == '/admin/user' %}
        <a href="{{path('admin_user')}}" class="btn bg-danger">Gestions des Utilisateurs</a>
    {% else %}
        <a href="{{path('admin_user')}}" class="btn">Gestion des Utilisateurs </a>
    {% endif %}
</div>

{% endblock %}