<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Bienvenue à la Team Farrugia{% endblock %}</title>
        {% block stylesheets %}
        {# CDN Bootstrap #}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        {# CDN FONTAWESOME #}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        {# Script fontawesome W3School #}
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
            
        {# Lien vers fichier CSS #} {# asset(): fonction TWIG qui permet de générer une URL jusqu'au fichier style.css #}
        <link rel="stylesheet" href="{{ asset('css/style.css')}}">
        {% endblock %}
    </head>
    <body>

        
        
        <!-- NavBar -->
        <nav class="bg-dark">
            <input type="checkbox" id="check">

            <label for="check" class="float-right">
                <i class="fas fa-bars" id="btn"></i>
                <i class="fas fa-times" id="cancel"></i>
            </label>

            
                <img src="/image/logo.jpg">
                <div class="titrelogo">Team Farrugia <br>
                    <span>
                        Boxing Club St Quentin en Yvelines
                    </span> 
                    
                </div>
            

            <ul>
                <li><a href="{{path('accueil')}}">Accueil</a></li>
                <li><a href="{{path('histoire')}}">Histoire</a></li>
                <li><a href="{{ path('medias')}}">Médias</a></li>
                <li><a href="{{ path('info')}}">Informations</a></li>
                <li><a href="{{ path('contact')}}">Contact</a></li>

                {#{% if app.user %}

                    <li><a href="{{ path('admin')}}">{{ app.user }}</a>
                        <ul>
                            <li><a href="{{ path('deconnexion')}}">Deconnexion</a></li>
                        </ul>
                    </li>

                {% else %} #}  
                
                    <li><a href="">Connexion</a></li> 
                    <li><a href="{{ path('admin_accueil') }}">Admin</a></li> 

                {#{% endif %} #}
            </ul>
        </nav>



        <div class="corps">
            {% block body %}{% endblock %}
        </div>


        <footer class="bg-dark">
            <div class="row partenaire">
                <div class="col-md-6 mention">
                
                    
                        <a href="">MENTIONS LEGALES</a>-
                        <a href="{{ path('contact')}}">CONTACTEZ-NOUS</a>-
                        <a href="">PLAN DU SITE</a>
                    
                    
                </div>
                <div class="col-md-6 sponsor">
                    sponsor
                    <img src="" alt="" style="border: 2px solid; width: 50px; height: 50px; margin-bottom: 10px;">
                    <img src="" alt="" style="border: 2px solid; width: 50px; height: 50px; margin-bottom: 10px;">
                    <img src="" alt="" style="border: 2px solid; width: 50px; height: 50px; margin-bottom: 10px;">
                    <img src="" alt="" style="border: 2px solid; width: 50px; height: 50px; margin-bottom: 10px;">
                </div>
            </div>


            <div class="reseaux">

                    <div class="icon-box">
                        <a class="btnrs youtube" href="" target="blank"> 
                            <i class="fab fa-youtube icon">
                            </i>
                        </a>

                        <a class="btnrs facebook" href="https://www.facebook.com/CRAUDINcorinne5/" target="blank">
                            <i class="fab fa-facebook-f icon">
                            </i>
                        </a>

                        <a class="btnrs instagram" href="https://www.instagram.com/teamfarrugia/?hl=fr" target="blank">
                            <i class="fab fa-instagram icon">
                            </i>
                        </a>

                        <a class="btnrs twitter" href="https://twitter.com/teamfarrugia?lang=fr" target="blank">
                            <i class="fab fa-twitter">
                            </i>
                        </a>
                        
                    </div>
            </div>

            <div class="copy">
                &copy; Team Farrugia 2020 - Tout droit réservé
                <br> Créer par <a href="https://mds-dev.fr">mds-dev</a>
            </div>
        </footer>

        {% block javascripts %}

        {# CDN JS Boostrap #}
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        
        {# Lien vers Fichier JS #} {# asset(): fonction TWIG qui permet de générer une URL jusqu'au fichier script.js #}
        <script src="/js/script.js"></script>
        
        {% endblock %}
    </body>
</html>
